<!DOCTYPE HTML>
<html>
<head>
  <title>Nordschleife Crash Data</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=0.0">
  <style>
  </style>
</head>
<body>
  {% include 'nav.html' %}
  {% include 'map.html' %}
  <div class="infoBox">
    <h1>About Nordschleife Crash Data</h1>
    <p>This is the place for all racing simulator enthusiats to log their accidents when racing the Nordschleife, aka Green Hell.</p>
    <p>In return, you get an interactive data visualisation of the circuit and the opportunity to find out:</p>
    <ul>
      <li>Which corners are the most "dangerous"</li>
      <li>How the sections of the track look like and how to approach them (mostly personal tips)</li>
      <li>Backstory about the circuit and some of its sections</li>
      <li>More to come!</li>
    </ul>
    <p>What are you waiting for?! Click on a section to read more or to log your accident!</p>
    <p><strong>Note: some sections can be hard to click on. A better map will be made later.</strong></p>
  </div>
</body>
</html>
