<!DOCTYPE HTML>
<html>
<head>
  <title>Nordschleife Crash Data</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=0.0">
  <style>
  </style>
</head>
<body>
  {% include 'nav.html' %}
  {% include 'map.html' %}
  <div class="infoBox">
    <h1>About Nordschleife</h1>
    <p>There is a lot of history behind Nordschleife ("North Loop"), the race track built in the 1920's in the town of Nürburg in Germany.</p>
    <p>Races first took place on public roads in the Eifel Mountains, but this was both according to Wikipedia "impractical and dangerous".</p>
    <p>In 1925, engineers developed a modular circuit which could "be used in different versions, including the then 22.8km Nordschleife."</p>
    <p>In the 1960's, F1 cars racing the track proved to be dangerous, and the Hohenrain was
      added to reduce the speed at pit lane entries.</p>
    <p>The circuit was then, in 1970, boycotted by F1 drivers at the French Grand Prix unless "major changes were made" to improve the track and make it
       safer for drivers. Improvements were made to the track, like smoothing out bumps and setting up Armco barriers and grass.</p>
    <p>The Südschleife was abandoned and eventually removed. In 1984, a new Grand Prix track was made in the area where Südschleife once was. The GP-Strecke was built to "meet the highest safety standards" and encourage Grand Prix races to come back. The Nordschleife was "cut off" to other race events and tourist drives.</p>
    <p>The track, filled with dangerous and treacherous corners, has killed many people throughout the years. At least 50 competitive race car drivers have died, and while no official figures exist, speculations are between 3 and 12 casualties every year.</p>
    <h2>Want to read more?</h2>
    <p><a href="https://en.wikipedia.org/wiki/N%C3%BCrburgring">Nürburgring - Wikipedia</a></p>
    <p><a href="http://www.nuerburgring.de/en/fans-info/history.html">Nürburgring History</a></p>
  </div>
</body>
</html>
